body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
}

.container {
    text-align: center;
    margin-top: 40px;
}

.search-box {
    position: relative;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    border: none;
    background: #38bdf8;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

#suggestions {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    background: white;
    color: black;
    border-radius: 8px;
    z-index: 1000;
}

#suggestions div {
    padding: 8px;
    cursor: pointer;
}

#suggestions div:hover {
    background: #eee;
}

.dashboard {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    width: 300px;
    padding: 20px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}

.chart-container {
    width: 400px;
    height: 300px;
}